{% extends "base.html" %}
{% block contenido %}

<div class="container">
    <div class="row">

        {% for comida in comidas %}
        <!-- Tarjeta -->
        <div class="card col-4 mx-1 mb-4 border border-5 border-dark"
            data-bs-toggle="modal"
            data-bs-target="#modal-{{ loop.index }}"
            style="width: 300px; height: 150px; background-color: rgb(0, 217, 255); cursor:pointer;">

            <div class="row">
                <div class="col-md-4">
                    <img src="{{ comida.imagen }}" class="img-fluid rounded-start"
                        alt="{{ comida.name }}" style="max-width: 150px; max-height: 110px;">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h4 class="card-title text-light">{{ comida.name }}</h4>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal PARA ESTA COMIDA -->
        <div class="modal fade" id="modal-{{ loop.index }}" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">

                    <!-- Header -->
                    <div class="modal-header">
                        <h1 class="modal-title fs-4">{{ comida.name }}</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    </div>

                    <!-- Body -->
                    <div class="modal-body">

                        <img src="{{ comida.imagen }}" class="img-fluid mb-3 rounded">

                        <p><strong>Categoría:</strong> {{ comida.categoria }}</p>
                        <p><strong>Área:</strong> {{ comida.area }}</p>

                        <h5>Ingredientes:</h5>
                        <ul>
                            {% for ing in comida.ingredientes %}
                            <li>{{ ing }}</li>
                            {% endfor %}
                        </ul>

                        <h5>Instrucciones:</h5>
                        <p>{{ comida.instrucciones }}</p>

                    </div>

                    <!-- Footer -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    </div>

                </div>
            </div>
        </div>

        {% endfor %}
    </div>
</div>

{% endblock %}
